.container {
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: calc(100vh - env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
}

.img {
  width: 700px;
  height: 470px;
  left: calc(50% - 350px);
  top: calc(50% - 235px);
  position: absolute;
}